.modal-header
    button.close(type="button" data-dismiss="modal" aria-hidden="true" ng-click="cancel()") &times;
    h4.modal-title Create room
.roomModal.modal-body
    form.form-inline(autocomplete="off" has-success)
        input.roomName.form-control.input-lg(type="text" placeholder="room name" maxlength="64" autofocus)
        br
        input.roomPass.form-control.input-lg(type="text" placeholder="password (for private)")
.modal-footer
    button.btn.btn-success.btn-lg(data-dismiss="modal" ng-click="create()") Create room
    button.btn.btn-lg.btn-default(data-dismiss="modal" ng-click="cancel()") Close



////Modal start
//#roomModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="createRoomLabel" aria-hidden="true")
//    .modal-dialog
//        .modal-content
//            .modal-header
//                button.close(data-dismiss="modal" aria-hidden="true") &times;
//                h4#createRoomLabel.modal-title Create room
//            .modal-body You can create a chat room here. Names have to be unique.
//                form#createRoomForm.form-inline(autocomplete="off")
//                    input#createRoomName.form-control.input-lg(type="text" placeholder="name" autofocus)
//                    br
//                    input#createRoomPass.form-control.input-lg(type="text" placeholder="password (for private)")
//            .modal-footer
//                button.btn.btn-lg.btn-default(data-dismiss="modal") Close
//                button#createRoomBtn.btn.btn-success.btn-lg(data-dismiss="modal") Create room
////Modal end