.modal-header
    button.close(type="button" data-dismiss="modal" aria-hidden="true" ng-click="cancel()") &times;
    h4.modal-title Create room
.roomModal.modal-body
    form.form-inline(autocomplete="off" has-success)
        input.roomName.form-control.input-lg(type="text" placeholder="room name" maxlength="64" autofocus)
        br
        input.roomPass.form-control.input-lg(type="text" placeholder="password (for private)")
.modal-footer
    button.btn.btn-success.btn-lg(data-dismiss="modal" ng-click="create()") Create room
    button.btn.btn-lg.btn-default(data-dismiss="modal" ng-click="cancel()") Close
