extends layout
block append head
    link(rel='stylesheet' href='components/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet' href='css/flags.css')
    link(rel='stylesheet' href='css/app.css')
    link(rel='stylesheet' href='css/emoticons.css')

block content
    if (!user)
        #main-chat-screen.row For logged users only
    else
        #main-chat-screen.row(ng-controller="ChatController as chat")
            .col-md-3
                rooms
                people

            .col-md-6
                #tabs(ng-controller="tabsCtrl as tabs")
                    tabset
                        tab(ng-repeat="room in userRooms")
                            .conversation(data-id="{{room.name}}")
                                ul.msgs.list-unstyled
                            tab-heading(data-id="{{room.name}}" ng-click="clicked(room.name)") {{room.name}}
                                a(ng-click="leaveRoom(room.name)" href='#')
                                    i.glyphicon.glyphicon-remove(ng-if="room.name != DEFAULT_ROOM")

                form.form-inline.row
                    .form-group.col-xs-8.col-sm-8
                        input#msg.form-control.input-lg(type="text" placeholder="Your message" autofocus)
                    input#send.btn.btn-success.btn-lg.col-xs-3.col-sm-3(type="submit" ng-click="send()" value="Send")
                #system.bg-danger
            .col-md-3
                ul#whispers.list-unstyled

block append scripts
    script(src='js/socket.io.min.js')
    script(src='components/emoticons/lib/emoticons.js')
    script(src='components/Autolinker.js/dist/Autolinker.min.js')
    script(src='js/app.js')
