doctype html
html(lang='en' ng-app='benderChat')
    head
        title Bender Chat
        link(rel='stylesheet', href='components/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='components/font-awesome/css/font-awesome.min.css')
        link(rel='stylesheet', href='css/flags.css')
        link(rel='stylesheet', href='css/app.css')
    body
        nav.navbar.navbar-default(role="navigation")
            .container-fluid
                .navbar-header
                    a.navbar-brand(href="/") Bender Chat
                div#bs-example-navbar-collapse-1.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        if(user)
                            li(class=(menu === 'Chat' ? 'active' : ''))
                                a(href="/") Chat
                            li
                                a(href="/logout") Log out
                        else
                            li(class=(menu === 'Log in' ? 'active' : ''))
                                a(href="/login") Log in
                            li(class=(menu === 'Register' ? 'active' : ''))
                                a(href="/register") Register

    block content
    block scripts
        script.
            var user =!{JSON.stringify(user)}
        script(src='components/angular/angular.min.js')
        script(src='components/jquery/dist/jquery.min.js')
        script(src='components/angular-bootstrap/ui-bootstrap.min.js')
        script(src='components/angular-bootstrap/ui-bootstrap-tpls.min.js')