 /* login and register css */
.form-signin {
    max-width: 380px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin-heading {
    text-align:center
}
.mrgb20{
    margin-bottom: 20px;
}
#errors{
    margin-top: 10px;
}

/* chat */
.conversation {
  font-size: 18px;
  margin: 0;
  height: 300px;
  overflow: auto;
}
#send{
    margin: 0 5px 0 5px;
}
#createRoomName{
    margin-bottom: 5px;
}
.mrg4{
    margin: 4px;
}
.createRoomBtn{
    margin-left: 25px;
}
.device-icon{
    margin: 0 7px 0 7px;
}
#system {
    font-size: 14px;
    margin: 5px 0 0 0;
    padding: 10px;
    height: 100px;
    overflow: auto;
}
#msg {
    width: 100%;
}
.bg-green {
    background-color: #DFF0D8;
}
.text-whisper{
    color: #7f04b8;
}
.component {
    cursor: pointer;
}
.nav-tabs > li {
    cursor: pointer;
    min-width: 80px;
}
tab-heading > a {
    position: absolute;
    right: 5px;
    top: 2px;
}
.msg-text {
    word-wrap: break-word;
}
.panel-heading {
    background-color: #6495ED!important;
}
#whispers {
    max-height: 300px;
}

.mytext {
    font-size: 2em;
}
