#login-screen, #main-chat-screen {
  padding-top: 10px;
}
.headText{
    margin-right: 10%;
}
.main {
  text-align: center;
}
.conversation {
  font-size: 18px;
  margin: 0;
  height: 300px;
  overflow: auto;
}
.final {
  color: #000;
}
.interim {
  color: #f00;
}
#name {
    margin: 10px;
}
#errors{
    margin-top: 10px;
}
#send{
    margin: 0 5px 0 5px;
}
#createRoomName{
    margin-bottom: 5px;
}
.mrg4{
    margin: 4px;
}
.createRoomBtn{
    margin-left: 25px;
}
.device-icon{
    margin: 0 7px 0 7px;
}
#system {
    font-size: 14px;
    margin: 5px 0 0 0;
    padding: 10px;
    height: 100px;
    overflow: auto;
}
#msg {
    width: 573px;
}
.bg-green {
    background-color: #DFF0D8;
}
.text-whisper{
    color: #7f04b8;
}
.component {
    cursor: pointer;
}
.nav-tabs > li {
    cursor: pointer;
    min-width: 80px;
}
tab-heading > a {
    position: absolute;
    right: 5px;
    top: 2px;
}
.msg-text {
    word-wrap: break-word;
}
