.smiles { background: url('../images/smiles.png') no-repeat top left;  }
.smiles.angel { background-position: 0px 0px; width: 20px; height: 20px;  }
.smiles.angry { background-position: 0px -30px; width: 20px; height: 20px;  }
.smiles.bandit { background-position: 0px -60px; width: 20px; height: 20px;  }
.smiles.beer { background-position: 0px -90px; width: 20px; height: 20px;  }
.smiles.blush { background-position: 0px -120px; width: 20px; height: 20px;  }
.smiles.bow { background-position: 0px -150px; width: 20px; height: 20px;  }
.smiles.cake { background-position: 0px -180px; width: 20px; height: 20px;  }
.smiles.cash { background-position: 0px -210px; width: 20px; height: 20px;  }
.smiles.cheeky { background-position: 0px -240px; width: 20px; height: 20px;  }
.smiles.clap { background-position: 0px -270px; width: 20px; height: 20px;  }
.smiles.coffee { background-position: 0px -300px; width: 20px; height: 20px;  }
.smiles.cool { background-position: 0px -330px; width: 20px; height: 20px;  }
.smiles.cry { background-position: 0px -360px; width: 20px; height: 20px;  }
.smiles.dance { background-position: 0px -390px; width: 20px; height: 20px;  }
.smiles.devil { background-position: 0px -420px; width: 20px; height: 20px;  }
.smiles.doh { background-position: 0px -450px; width: 20px; height: 20px;  }
.smiles.drink { background-position: 0px -480px; width: 20px; height: 20px;  }
.smiles.dull { background-position: 0px -510px; width: 20px; height: 20px;  }
.smiles.emo { background-position: 0px -540px; width: 20px; height: 20px;  }
.smiles.envy { background-position: 0px -570px; width: 20px; height: 20px;  }
.smiles.evilgrin { background-position: 0px -600px; width: 20px; height: 20px;  }
.smiles.facepalm { background-position: 0px -630px; width: 20px; height: 20px;  }
.smiles.fingerscrossed { background-position: 0px -660px; width: 20px; height: 20px;  }
.smiles.flower { background-position: 0px -690px; width: 20px; height: 20px;  }
.smiles.giggle { background-position: 0px -720px; width: 20px; height: 20px;  }
.smiles.handshake { background-position: 0px -750px; width: 20px; height: 20px;  }
.smiles.happy { background-position: 0px -780px; width: 20px; height: 20px;  }
.smiles.heart { background-position: 0px -810px; width: 20px; height: 20px;  }
.smiles.heidy { background-position: 0px -840px; width: 20px; height: 20px;  }
.smiles.hi { background-position: 0px -870px; width: 20px; height: 20px;  }
.smiles.hug { background-position: 0px -900px; width: 20px; height: 20px;  }
.smiles.inlove { background-position: 0px -930px; width: 20px; height: 20px;  }
.smiles.itwasntme { background-position: 0px -960px; width: 20px; height: 20px;  }
.smiles.kiss { background-position: 0px -990px; width: 20px; height: 20px;  }
.smiles.laugh { background-position: 0px -1020px; width: 20px; height: 20px;  }
.smiles.lipssealed { background-position: 0px -1050px; width: 20px; height: 20px;  }
.smiles.makeup { background-position: 0px -1080px; width: 20px; height: 20px;  }
.smiles.mmm { background-position: 0px -1110px; width: 20px; height: 20px;  }
.smiles.muscle { background-position: 0px -1140px; width: 20px; height: 20px;  }
.smiles.music { background-position: 0px -1170px; width: 20px; height: 20px;  }
.smiles.nerd { background-position: 0px -1200px; width: 20px; height: 20px;  }
.smiles.ninja { background-position: 0px -1230px; width: 20px; height: 20px;  }
.smiles.no { background-position: 0px -1260px; width: 20px; height: 20px;  }
.smiles.nod { background-position: 0px -1290px; width: 20px; height: 20px;  }
.smiles.party { background-position: 0px -1320px; width: 20px; height: 20px;  }
.smiles.pizza { background-position: 0px -1350px; width: 20px; height: 20px;  }
.smiles.puke { background-position: 0px -1380px; width: 20px; height: 20px;  }
.smiles.rain { background-position: 0px -1410px; width: 20px; height: 20px;  }
.smiles.rofl { background-position: 0px -1440px; width: 20px; height: 20px;  }
.smiles.sad { background-position: 0px -1470px; width: 20px; height: 20px;  }
.smiles.shake { background-position: 0px -1500px; width: 20px; height: 20px;  }
.smiles.sleepy { background-position: 0px -1530px; width: 20px; height: 20px;  }
.smiles.smile { background-position: 0px -1560px; width: 20px; height: 20px;  }
.smiles.smirk { background-position: 0px -1590px; width: 20px; height: 20px;  }
.smiles.speechless { background-position: 0px -1620px; width: 20px; height: 20px;  }
.smiles.star { background-position: 0px -1650px; width: 20px; height: 20px;  }
.smiles.sun { background-position: 0px -1680px; width: 20px; height: 20px;  }
.smiles.surprised { background-position: 0px -1710px; width: 24px; height: 25px;  }
.smiles.sweating { background-position: 0px -1745px; width: 20px; height: 20px;  }
.smiles.thinking { background-position: 0px -1775px; width: 20px; height: 20px;  }
.smiles.tmi { background-position: 0px -1805px; width: 20px; height: 20px;  }
.smiles.wait { background-position: 0px -1835px; width: 20px; height: 20px;  }
.smiles.whew { background-position: 0px -1865px; width: 20px; height: 20px;  }
.smiles.wink { background-position: 0px -1895px; width: 20px; height: 20px;  }
.smiles.wondering { background-position: 0px -1925px; width: 20px; height: 20px;  }
.smiles.worried { background-position: 0px -1955px; width: 20px; height: 20px;  }
.smiles.yawn { background-position: 0px -1985px; width: 20px; height: 20px;  }
.smiles.yes { background-position: 0px -2015px; width: 20px; height: 20px;  }